body {
    margin: 0px;
    padding: 0px;
    direction: rtl;
    scroll-behavior: smooth;
}

nav {
    margin: auto;
    background-color: #ad7834;
    color: #fff;
    width: 100%;
    z-index: 1;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: .5s;
}

.btn, button {
    transition: .5s;
}

ul li {
    margin-left: 20px;
}

div.d-flex button {
    margin-left: 20px;
}

nav .btn {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}

nav .btn:hover {
    background-color: #fff;
    color: #ad7834;
}

.active:hover, li a:hover {
    color: #000;
}

.container .content h3 {
    line-height: 40px;
    letter-spacing: 1px;
}

.active {
    color: #000;
    border-bottom: 1px solid #000;
}

#Home {
    padding-top: 10vh;
}

#Home h3, #About p {
    color: #ffffffc7;
}

#About {
    background-color: rgb(156, 150, 150);
    color: #3f3a3a;
}

#About .row {
    min-height: 60vh;
    align-items: center;
}

#About .btn.btn_about, #Contact_us .btn, #My_Products .container .row .product .btn.addcart, .more-icon .btn {
    color: #fff;
    background-color: #ad7834;
    border: 2px solid #ad7834;
    transition: .4s;
}

#Home .btn {
    color: #fff;
    background-color: #ad7834;
    border: 2px solid #ad7834;
    transition: .4s;
    max-width: fit-content;
}

#Home .btn:hover {
    background-color: white;
    color: #ad7834;
    border: 2px solid #ad7834;
}

#About .btn.btn_about:hover, .more-icon .btn:hover, #Contact_us .btn:hover, #My_Products .container .row .product .btn.addcart:hover {
    background-color: white;
    color: #ad7834;
    border: 2px solid #ad7834;
}

#Contact_us {
    width: 60%;
    margin: auto;
    min-height: 90vh;
    align-content: center;
}

#Services .container img {
    width: 250px;
    height: 250px;
    margin: 12px;
    border-radius: 5px;
    opacity: .8;
    transition: .4s;
}

#Services .container img:hover {
    opacity: 1;
}

#Services {
    background-color: #ad793462;
}

#My_Products {
    background-color: rgba(214, 208, 208, 0.514);
    max-height: 90vh;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    flex-direction: row;
    white-space: nowrap;
}

#My_Products .container .row .product:hover {
    box-shadow: 0px 0px 10px 5px #bdbaba;
}

#My_Products .container .row {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

#My_Products::-webkit-scrollbar {
    width: 0;
}

#My_Products .container .row .product {
    background-color: #fff;
    width: 350px;
    height: 450px;
    border-radius: 8px;
    transition: .4s;
    box-sizing: border-box;
    border: 1px solid transparent;
}

#My_Products .product {
    display: inline-block;
    margin: 0 10px;
}

#My_Products .container .row .product img {
    width: 100%;
    height: 50%;
    margin: auto;
    margin-top: 8px;
    border-radius: 5px;
}

#My_Products .container .row .product .btn.buyitem:hover {
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid rgb(27, 129, 27);
    color: rgb(27, 129, 27);
}

#hide_page {
    display: none;
    border-radius: 10px;
    width: 50%;
    top: 32%;
    left: 25%;
}

footer {
    direction: ltr;
    background-color: #ad7834;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 0%;
}

@media (max-width:900px) {
    #Contact_us {
        width: 85%;
    }

    #hide_page {
        width: 80%;
        top: 32%;
        left: 10%;
    }

    #Services .container img {
        width: 180px;
        height: 180px;
        margin: 17px;
    }

    nav a {
        margin: 12px auto;
    }

    .active {
        border: none;
    }
}

@media (min-width:1100px) {
    #hide_page {
       width: 35%;
        top: 32%;
        left: 32.5%;
    }
}

