body {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    background-color: #f3f4f6;
    direction: rtl;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    background-color: #ad7834;
    background-size: cover;
    background-repeat: no-repeat;
    height: 65px;
    padding: 5px auto;
    width: 100%;
}

.nav h1 {
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    margin-right: 12px;
    padding: 5px;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav ul li {
    margin-left: 15px;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 5px;
    font-size: 20px;
    transition: .5s;
    border-radius: 5px;
}

.nav ul li a:hover {
    border: 1px solid #fff;
    color: #ad7834;
    background-color: #fff;
}

@media (max-width:900px) and ((min-width:650px)) {
    .nav {
        height: 50px;
    }

    .nav h2 {
        font-size: 27px;
        font-weight: bold;
        color: #fff;
        padding: 3px;
    }

    .nav ul li {
        margin-left: 10px;
    }

    .nav ul li a {
        font-size: 14px;
        padding: 3px;
    }
}

@media (max-width:650px) {
    .nav {
        height: 40px;
    }

    .nav h2 {
        font-size: 18px;
        padding: 2px;
    }

    .nav ul li {
        margin-left: 5px;
    }

    .nav ul li a {
        font-size: 12px;
        padding: 2px;
    }
}


.product-container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: right;
    margin-top: 20px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 16px;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    font-weight: bolder;
    resize: none;
}


button {
    width: 100%;
    padding: 12px;
    background-color: #9b5e3a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: .5s;
}

button:hover {
    background-color: #a54a15;
}

.success-message {
    display: block;
    color: green;
    margin-top: 10px;
}

.error-message {
    display: block;
    color: red;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .product-container {
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }
}