* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(images/LOGIN.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


h2 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
    font-family: 'Pacifico', cursive; 
}

.container {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.7); */
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); ظل */
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

input {
    padding: 10px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bolder;
}

input::placeholder {
    color: #ffffff;
}

button {
    background-color: #af6530;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 800;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: #d18f54;
}


span{
    color: red;
    font-weight: bolder;
}

